.hero {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  aspect-ratio: 21 / 9;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  transition: all 0.4s ease;
  z-index: 1;
  opacity: 0;
}

.hero.blur-active .hero__overlay {
  opacity: 0.9;
}

.hero__content-wrapper {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 7vw;
  padding-top: 28vh;
}

.hero__logo-container img {
  width: 200px;
  height: auto;
  animation: fadeIn 0.6s ease;
}

.hero__content {
  max-width: 700px;
  animation: fadeIn 0.6s ease;
}

.hero__title {
  font-size: 50px;
  color: #9fb3b3;
  margin-bottom: 16px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.527);
}

.hero__subtitle {
  font-size: 16px;
  font-weight: 800;
  color: #4f4e4e;
  margin-bottom: 30px;
  margin-top: 80px;
}

.hero__button {
  margin-top: 40px;
  padding: 14px 36px;
  border: 2px solid #000000;
  color: #ffffff;
  background-color: #000000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  border-radius: 15px;
}

.hero__button:hover {
  background-color: #ffffff;
  color: #000000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 32px;
  }
  .hero__button {
    padding: 12px 28px;
    font-size: 14px;
  }
  .hero__content-wrapper {
    align-items: center;
    padding-left: 0;
    padding-top: 18vh;
  }
}
